@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&family=Victor+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Sora:wght@100;200;300;400;500;600&family=Victor+Mono:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;
    /* font-family: 'Victor Mono', monospace; */
    
}

/* INICIO CABECERA */

.navbar-nav{
    font-size: 28px;
    text-align: right;
    gap: 15px;
    margin-left: 170px;
}

.nav-item a{
    font-family:'Sora', sans-serif;
    color: rgb(0, 60, 102);
}

/* INICIO CUERPO */

/* INDEX */

h1{
    font-size: 35px;
    text-transform: capitalize;
    font-family:'Sora', sans-serif;
    color: rgb(0, 60, 102);
    margin-top: 20px;
}

h2{
    font-size: 25px;
    text-transform: capitalize;
    font-family:'Sora', sans-serif;
    text-align: center;
    color: rgb(0, 60, 102);
    margin-top: 20px;
}

h3{
    font-size: 18px;
    /* text-transform: capitalize; */
    font-family:'Sora', sans-serif;
    text-align: center;
    color: rgb(0, 100, 172);
    margin-top: 20px;    
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tit_intro{
    font-size: 35px;
    text-align:center;
    margin-block: 55px;
}

.artic_intro{
    display:flex;
    gap: 50px;
    text-align: justify;
}

.parrafo_intro{
    width: 800px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.parrafo_intro2{
    margin: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.catpopulares a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px 80px;
    font-size: 25px;
    color: rgb(0, 60, 102);
    border: 0px;
    border-radius: 75px;
    background-color: rgba(0, 60, 102, 0.2);
    box-shadow: 1 1 5px #fff;
}

.catpopulares a:hover{
    color: rgba(93, 0, 62, 0.7)
}

.catpopulares ul li{
    list-style: none;
}

/* INICIO GRID */

.contenedor{
    /* border: 2px solid red; */
    margin-left: 10px;
    width: 99%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    
    "caja1 caja1 caja1 caja1"
    "caja2 caja3 caja4 caja5"
    "caja6 caja6 caja6 caja6";
}

/* .caja{
    margin-block: 25px;
border:2px solid green;
justify-content: center;
} */

.caja1{
    grid-area: caja1;
    /* background-color: aqua; */
    padding-bottom: 30px;
}
.caja2{
    grid-area: caja2;
    text-align: center;
    /* padding-bottom: 20px; */
}
.caja3{
    grid-area: caja3;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.caja4{
    grid-area: caja4;
    text-align: center;
}
.caja5{
    grid-area: caja5;
    text-align: center;
    /* height: 70px; */
    /* margin-bottom: 8px; */
}
.flia{
    height: 70px;
    padding:7px;
    margin-bottom: 8px;
}

.caja6{
    grid-area: caja6;
    margin-top: 20px;
    }

.barra__companias{
    height: auto;
    width: 85%;
    margin-left: 50px;
}

.reviews{
    display: flex;
}

.review_tit{
    height: 180px;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.2);
    margin: 5px;
    margin-top: 50px;
    padding: 10px;
}

p span{
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* COBERTURA */

.auto_cls{
    height: 100vh;
    width: 100%;
}

article li{
    margin-left: 50px;
}

/* SINIESTROS */

.img_siniestro{
    height: 70vh;
    width: auto;
    margin-top: 30px;
    margin-right: 15px;
}

.siniestro{
    display: flex;
    margin: 15px;
}

.siniestro p{
    text-align: justify;
    margin-top: 50px;
    margin-right: 20px;
}

article ul li{
    text-align: justify;
}

/* CONTACTO */
.form-label{
    padding-top: 50px;
}

.parraf_cont{
    margin: 10px;
}

/* INICIO PIE DE PAGINA */

footer{
    background-color:rgba(31, 31, 31, 0.51);
    color: white;
    font-size: 17px;
    height: auto;
    padding-block: 10px;
    text-align: center;
}

.footer_foo{
    display: flex;
    margin-top: 10px;
    gap: 120px;
    list-style: none;
    justify-content: center;
}

.empresa ul li{
    display: flex;
    list-style: none;
} 

.informacion ul li{
    display: flex;
    list-style: none;
} 

.seguinos ul li{
    display: flex;
    list-style: none;
}

.final_footer{
    margin-top: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subir{
    background-color: rgba(255, 166, 0, 0.114);
    color: rgba(11, 11, 11, 0.114);
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    box-shadow: 2px 2px 5px #fff;
    border-radius: 50%;
}

/* MEDIAS QUERIES */

@media only screen and (max-width:320px){
    .nav_img{
        height: 25vh;
        width: auto;
    }

    .tit_intro{
        font-size: 23px;
    }

    .parrafo_intro2{
        display: flex;
        font-size: 12px;
    }

    h1{
        font-size: 23px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 16px;
    }

    h4{
        font-size: 18px;
    }

    p{
        font-size: 14px;
    }

    p span{
        font-size: 11px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .tit_intro{
        font-size: 23px;
        text-align:center;
        margin-block: 35px;
    }
    
    .artic_intro{
        display:inline;
        text-align: justify;
    }
    
    .parrafo_intro{
        width: auto;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .ejec_img{
        height: 45vh;
        width: auto;
    }

    .contenedor{
        /* width: 100%; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(6 1fr);
        grid-template-areas:
        
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        "caja5"
        "caja6";
    }
    
    .caja1{
        grid-area: caja1;
        text-align: center;
        margin-right: 10px;
    }
    
    .caja2{
        grid-area: caja2;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .auto__btn{
        height: 50px;
    }
    
    .auto a{
        font-size: 15px;
    }

    .caja3{
        grid-area: caja3;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .comercio_btn{
        height: 50px;
    }
    
    .catpopulares a{
        font-size: 15px;
    }

    .caja4{
        grid-area: caja4;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    
    .caja5{
        grid-area: caja5;
    }
    
    .caja6{
        grid-area: caja6;
        margin-block: 25px;
        border: 3px solid gray;
        text-align: center;
        margin-right: 15px;
    }
    
    .barra__companias{
        width: 75%;
    }

    .reviews{
        display:inline-block;
    }
    
    .man_rev{
        height: 45vh;
        width: auto;
    }

    .tit_rev{
        text-align: center;
    }
    
    .review_tit{
        width: 50vh;
        height: 10%;
    }

    footer{
        background-color:rgba(31, 31, 31, 0.51);
        color: white;
        /* font-size: 17px; */
        height: auto;
        padding-block: 10px;
        text-align: center;
    }
    
    .footer_foo{
        display:inline-block;
        margin-top: 10px;
        gap: 120px;
        list-style: none;
        justify-content: center;
    }
    
    .empresa ul li{
        /* display: flex; */
        list-style: none;
        text-align: center;
    } 
    
    .informacion ul li{
        /* display: flex; */
        list-style: none;
    } 
    
    .seguinos ul li{
        /* display: flex; */
        list-style: none;
    }
    
    .final_footer{
        margin-top: 20px;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .ssn_img{
        width: 50%;
    }
    
    .subir{
        background-color: rgba(255, 166, 0, 0.114);
        color: rgba(11, 11, 11, 0.114);
        height: 40px;
        width: 40px;
        position: fixed;
        right: 25px;
        bottom: 25px;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        box-shadow: 2px 2px 5px #fff;
        border-radius: 50%;
    }
}
