  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&family=Victor+Mono:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Sora:wght@100;200;300;400;500;600&family=Victor+Mono:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;
    /* font-family: 'Victor Mono', monospace; */
    
}

/* INICIO CABECERA */

.navbar-nav{
    font-size: 28px;
    text-align: right;
    gap: 15px;
    margin-left: 170px;
}

.nav-item a{
    font-family:'Sora', sans-serif;
    color: rgb(0, 60, 102);
}

/* INICIO CUERPO */

/* INDEX */

h1{
    font-size: 35px;
    text-transform: capitalize;
    font-family:'Sora', sans-serif;
    color: rgb(0, 60, 102);
    margin-top: 20px;
}

h2{
    font-size: 20px;
    text-transform: capitalize;
    font-family:'Sora', sans-serif;
    color: rgb(0, 60, 102);
    margin-top: 20px;
}

h3{
    font-size: 16px;
    text-transform: capitalize;
    font-family:'Sora', sans-serif;
    color: rgb(0, 100, 172);
    margin-top: 20px;    
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.intro{
    display: flex;
    flex-direction: column;
    /* background-image: url("../img/cars/car_show.jpg"); */
    background-size: 50%;
    /* margin-right: 20px; */
}

.tit_intro{
/* text-align: center; */
font-size: 35px;
margin-top: 50px;

}

.parrafo_intro{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.catpopulares a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px 80px;
    font-size: 25px;
    color: rgb(0, 60, 102);
    border: 0px;
    border-radius: 75px;
    background-color: rgba(0, 60, 102, 0.2);
    box-shadow: 1 1 5px #fff;
}

.catpopulares a:hover{
    color: rgba(93, 0, 62, 0.7)
}

.catpopulares ul li{
    list-style: none;
}

/* INICIO GRID */

.contenedor{
    /* border: 2px solid red; */
    margin-left: 10px;
    width: 99%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    
    "caja1 caja1 caja1 caja1"
    "caja2 caja3 caja4 caja5"
    "caja6 caja6 caja6 caja6";
}

.caja{
    /* margin-block: 25px; */
/* border:2px solid green; */
/* justify-content: center; */
}
.caja1{
    grid-area: caja1;
    /* background-color: aqua; */
    padding-bottom: 30px;
}
.caja2{
    grid-area: caja2;
    text-align: center;
    /* padding-bottom: 20px; */
}
.caja3{
    grid-area: caja3;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.caja4{
    grid-area: caja4;
    text-align: center;
}
.caja5{
    grid-area: caja5;
    text-align: center;
    /* height: 70px; */
    /* margin-bottom: 8px; */
}
.flia{
    height: 70px;
    padding:7px;
    margin-bottom: 8px;
}

.caja6{
    grid-area: caja6;
    margin-block: 20px;
}


.barra__companias{
    height: auto;
    width: 85%;
    margin-left: 50px;

}
/* COBERTURA */


/* CONTACTO */
.form-label{
    padding-top: 50px;
}

.parraf_cont{
    margin: 2px;
}

/* INICIO PIE DE PAGINA */

footer{
    background-color:rgb(0, 37, 64);
    color: white;
    font-size: 11px;
    height: auto;
    padding-block: 10px;
    text-align: center;
}

.footer_foo{
    display: flex;
    margin-top: 10px;
    gap: 70px;
    list-style: none;
    justify-content: center;
}

.empresa ul li{
    display: flex;
    list-style: none;
} 

.informacion ul li{
    display: flex;
    list-style: none;
} 

.seguinos ul li{
    display: flex;
    list-style: none;
}

.final_footer{
    margin-top: 20px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MEDIAS QUERIES */

/* @media screen and (max-width: 480px){
    header{
        background-position: left;
        background-color:rgba(255, 255, 255, 0);
        background-repeat:no-repeat;
        background-size: 70px;
        font-size: 10px;
        position: relative;
        top: 0px;
    }

    .barra{
        float: right;
        text-transform: capitalize;
        list-style: none;
        margin-right: 25px;
        }

    .contenedor{
            margin-left: 10px;
            width: 99%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(1fr);
            grid-template-rows: repeat(6 1fr);
            grid-template-areas:
            
            "caja1"
            "caja2"
            "caja3"
            "caja4"
            "caja5"
            "caja6";
        }
        .caja1{
            grid-area: caja1;
        }
        .caja2{
            grid-area: caja2;
            text-align: center;
            font-size: 10px;
            margin-inline-end:50px;
        }
        .caja3{
            grid-area: caja3;
            background-repeat: no-repeat;
        }

        .caja4{
            grid-area: caja4;
            text-align: center;
        }
        .caja5{
            grid-area: caja5;
            text-align: center;
            height: 70px;
            margin-bottom: 8px;
        }
        .flia{
            height: 70px;
            padding:7px;
            margin-bottom: 8px;
        }
        
        .caja6{
            grid-area: caja6;
            margin-block: 20px;
        }
        h1{
            font-size: 20px;
            text-align: center;
        }
        .intro{
            display: flex;
            flex-direction: column;
            background-image: url("../img/cars/car_show.jpg");
            background-size: 50%;
            background-position: top;
            background-repeat:no-repeat;
            margin-right: 20px;
        }
        .tit_intro{
            margin-top: 80px;
            padding-top: 10px;
        }
        .parrafo_intro{
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
        
        }
        .footer_foo{
            display: flex;
            flex-direction: column;
        }
        .empresa ul li{
            justify-content: center;
        }
        .informacion ul li{
            justify-content: center;
        }
        .seguinos ul li{
            justify-content: center;
        }

} */